[2019-06-07 11:02] hannobraun opened #6 "Integrating the changes from musitdev's fork"
There's a [fork of this repository](https://github.com/musitdev/stm32f7xx-hal/), maintained by @musitdev for his own use, that contains some features not present in this repository. I'm currently working on making some improvements there, and as part of this project, I'm trying to sync up both repositories to get them closer together.

(My work on that repository is the reason for my pull requests

[2019-06-07 11:23] hannobraun commented on #6
Update on USART oversampling: Turns out I'm blind and need a debugger to tell me what's obvious. Anyway, problem solved, pull request here: https://github.com/mvertescher/stm32f7xx-hal/pull/7

[2019-06-07 14:20] mvertescher commented on #6
Thanks for the heads up @hannobraun and thanks for your work on bringing the repositories closer together!

Yes! It would be ideal if we could move to a single repository if possible. This crate is currently incomplete and it would be great to integrate @musitdev's work.

I'll create a separate issue for this.

[2019-06-07 14:27] mvertescher opened #9 "Add DAC Support"
There's an initial DAC implementation here: https://github.com/musitdev/stm32f7xx-hal/commits/master/src/dac.rs . It would be good to merge this back!

[2019-07-12 07:07] hannobraun commented on #6
As of #17, the SPI module should include all features from @musitdev's fork (although there is a bug; fixed as part of #18). This only leaves DAC, and there's a separate issue for that. Closing.

[2019-07-12 07:07] #6 closed

[2019-07-12 07:23] hannobraun opened #19 "DMA: Support multiple streams per peripheral instance"
When I originally submitted the DMA API, I couldn't quite figure out how to support multiple DMA streams per peripheral instance. I must have gotten less stupid since then, because I believe the solution is quite simple:

Convert `Target::Stream` from an associated type to a regular type parameter. The `Target` trait can be implemented multiple times for the same type, as we'd be implementing `Tar

[2019-07-12 07:35] hannobraun opened #20 "Consider splitting SPI API into separate parts for sending/receiving"
I believe that my original design for the SPI API isn't quite optimal. The current architecture works well enough for non-DMA uses, and I've managed to make it work with DMA too. But implementing `send_all` and `receive_all`, i.e. using DMA for _only_ sending or receiving, will require additional changes to `spi::Transfer`, making everything more complicated.

I believe the following design would

[2019-11-01 17:32] no111u3 opened #22 "Future plans, updates"
Your implementation of HAL for stm32f7xx so good but:
- I not found any version on crates.io: which plans to release your hal?
- I have my version with ahead implementation for some featues - https://github.com/no111u3/stm32f7x7-hal, and I ready to integrate my features to your crate.

I'm so very interesting of use your HAL version but I need answer to upper questions.

[2019-11-02 16:04] mvertescher opened #24 "Release 0.1.0 to crates.io"
Do an initial release! :ship:

[2019-11-02 16:10] mvertescher commented on #22
Thanks for your interest @no111u3 ! :)

I've created #24 to track the initial release to crates.io. I should be able to take care of that in the next day or so.

:+1: awesome crate. It would be great if we could integrate your work into `stm32f7xx-hal`. I believe I have a stm32f7x7 board so I should be able to help with testing as we add support. Looking forward to some PRs!

[2019-11-02 19:14] no111u3 commented on #22
@mvertescher very thanks for answer.
I'm so have many interests of use community support package. I have many boards on stm32f7xx mcu family - one on stm32f767 and two on stm32f746, and I have plan to buy other in this mcu family.
So we can create issue for primary features to support this hal.

[2019-11-05 23:06] mvertescher commented on #24
https://crates.io/crates/stm32f7xx-hal

v0.1.0 is out! :tada:

[2019-11-05 23:06] #24 closed

[2020-02-01 10:18] thejpster opened #31 "Add SDMMC support"
I'd like to use the microSD slot on the STM32F7-Discovery board. This is connected to:

Pin | GPIO | Description
-- | -- | --
A12 | PC12 | SDMMC_CK
D12 | PD2 | SDMMC_CMD
G14 | PC8 | SDMMC_D0
F14 | PC9 | SDMMC_D1
B14 | PC10 | SDMMC_D2
B13 | PC11 | SDMMC_D3

I have an `embedded-sdmmc` crate, but that only handles SD cards connected to generic `embedded-hal::spi` devices. I'd like to add an implement

[2020-02-01 10:19] thejpster opened #32 "Support `embedded-hal::blocking::serial`"
The blocking embedded-hal traits are quite useful but as far as I can tell, this HAL doesn't opt-in to them.

[2020-02-01 10:20] thejpster opened #33 "Support `core::fmt::Write` on UARTs"
I've found it useful in the past if the UART object implements `core::fmt::Write`. This would mean you can write:

[code]

I tried doing my own impl in my application, but as I've defined neither the `core::fmt::Write` trait, nor the `Serial` object, the compiler won't let me (even with the changes that went into 1.41).

[2020-03-04 16:43] dtjones190 opened #34 "Timer Makes Incorrect assumption about Clock Speed"
The Timer assumes that the clock speed is equal to the peripheral clock, but that is only true in certain circumstances.
See Page 154 https://www.st.com/content/ccc/resource/technical/document/reference_manual/group0/96/8b/0d/ec/16/22/43/71/DM00224583/files/DM00224583.pdf/jcr:content/translations/en.DM00224583.pdf

![image](https://user-images.githubusercontent.com/37219309/75901773-0635db00-5e0d-

[2020-03-18 14:40] samuelburnham opened #35 "Modules are unavailable unless crate is imported with stm32f746"
Hi, Rust beginner here. I'm trying to use this excellent crate to blink an LED on an stm32f769; however, I get a "could not find `prelude` in `stm32f7xx_hal`" error when I import with the stm32f769 feature enabled. If I use the stm32f746 feature everything works perfectly, but wouldn't there be potential hardware issues from using code intended for another device?

[2020-03-18 17:19] dtjones190 commented on #35
Try my fork:
https://github.com/dtjones190/stm32f7xx-hal
I am submitting a pull request now.

[2020-04-19 17:17] SL-RU opened #39 "STM32F7x0 support"
Hello! Can you add STM32F730 support?

[2020-04-20 08:15] hannobraun commented on #39
This is an open source project, so everyone who's interested (you, for example :slightly_smiling_face:) can add support for new hardware here.

[2020-05-02 14:52] MarcoIeni opened #42 "Implement Cancel trait for Timer"
Timer in [stm32f4xx-hal](https://github.com/stm32-rs/stm32f4xx-hal/blob/master/src/timer.rs) crate implements the [Cancel](https://docs.rs/crate/embedded-hal/0.2.3/source/src/timer.rs) trait.
You may be interested in doing the same for this crate.
Examples:
- https://github.com/stm32-rs/stm32f4xx-hal/blob/master/examples/timer-periph.rs
- https://github.com/stm32-rs/stm32f4xx-hal/blob/master/examp

[2020-05-02 23:38] mvertescher commented on #42
Yeah, this would be a nice feature to have!

[2020-05-29 01:22] adamgreig opened #44 "SPI support for half duplex"
Hi! I'm trying to test out the new LTDC driver to run an ILI9342 display with an STM32F767, but the display needs initialising over SPI first. The SPI interface is just CS, CLK, and MOSI; there's no MISO. On this board both possible MISO pins for the SPI4 peripheral I'm using are used as outputs for other LCD functions (enable and controller reset), so I can't configure them to be AFs.

However I

[2020-05-29 01:26] adamgreig commented on #44
Nevermind, I found https://github.com/stm32-rs/stm32f7xx-hal/blob/master/src/spi.rs#L603, great!

[2020-05-29 01:26] #44 closed

[2020-06-23 01:37] mvertescher opened #49 "Run `cargo fmt` in CI"
It'd be nice to have consistent formatting on this repository. Leaning toward a non-blocking CI run atm...

[2020-06-23 16:04] rfuest commented on #34
The issue has already been fixed in #36. I've just tested this again after the changes made in #50 and it seems to work as expected, so I think that this issue can be closed now.

[2020-06-24 09:57] hannobraun commented on #34
Thanks for confirming this, @rfuest!

[2020-06-24 09:57] #34 closed

[2020-06-29 14:33] no111u3 opened #53 "Release new versions"
Would you have plans to release new version of crate?

[2020-06-29 14:40] no111u3 opened #54 "Update to new features make more compatibility with stm32f4xx-hal"
I found more update version of library - https://github.com/dtjones190/stm32f7xx-hal.
Could you ask me about plans to update with common state such as stm32f4xx-hal, I can create PR based on upper changes.

[2020-06-30 02:03] mvertescher commented on #53
Yes, it's been a while since 0.1.0 and now seems like a good time to release a new version with all the PRs that have been merged.

[2020-06-30 02:04] mvertescher opened #55 "Release 0.2.0"
It's been a while since 0.1.0 and it's time to release an updated version. Perhaps use `cargo-release` and add a change log too?

[2020-06-30 02:05] mvertescher commented on #53
Created #55 to track this. I should be able to get around to this in the next day or so.

[2020-06-30 02:16] mvertescher commented on #54
Cool! I'm happy to review and merge any new functionality or fixes if folks open up PRs. The `stm32f4xx-hal` is certainly more complete than this crate ATM and I agree it would be good to keep things as similar as possible. PRs are definitely welcome to make this crate more compatible with the other stm32 hals!

[2020-06-30 08:45] hannobraun commented on #55
For what it's worth, I used `cargo-release` in the past on various projects and stopped doing so. I don't recall the exact reasons, but I remember I didn't like a lot of things about it. That's probably too vague to be useful, but it's what I got :-)

One thing that I do remember is that it immediately updates the version again after the release. I consider it an anti-pattern to change the version

[2020-07-01 00:30] mvertescher commented on #55
Yeah, I've only used `cargo-release` briefly and was a little surprised about some of the operations. However, it did seem convenient. The `[patch]` version mismatch does seems like an issue though. I believe `cargo-release` will up the version automatically to something like `0.2.0-alpha.0` by default, but it looks like this can be disabled with the `--no-dev-version` flag.

Eh, I don't feel stro

[2020-07-01 01:19] mvertescher commented on #55
v0.2.0 is now released! :tada:

[2020-07-01 01:19] #55 closed

[2020-07-01 01:20] mvertescher commented on #53
v0.2.0 is now released. Feel free to open another issue in the future if you're looking for a new release!

[2020-07-01 01:20] #53 closed

[2020-07-01 01:23] mvertescher opened #56 "Create a changelog"
We should be documenting changes for this crate. Check out https://keepachangelog.com/en/1.0.0/ for more info.

[2020-07-01 10:11] hannobraun commented on #55
To be clear, I didn't mean to argue against using it. I just meant to leave my own experience so you can make a more informed decision.

[2020-07-01 23:27] mvertescher commented on #55
Ah ok, no problem! I did find your thoughts helpful :). Thanks for your input @hannobraun, always welcome!

[2020-07-02 16:01] no111u3 commented on #54
Create first PR with little cosmetic changes #57

[2020-07-03 10:45] no111u3 opened #58 "Create generation memory.x for different mcu's in family"
Than I tried build example for stm32fdisco-scree I got some interested message of compilation:
[code]

I think we need to use generation for memory.x

[2020-07-03 10:53] hannobraun commented on #58
There are multiple ways to do this, but here's some example code that could be copied from:
https://github.com/lpc-rs/lpc8xx-hal/blob/master/build.rs#L42-L63

[2020-07-03 11:00] no111u3 commented on #58
Yes, sure. I talked about this solution - so If anybody hasn't concerns to this solution I can create PR for tests.

[2020-07-04 01:34] mvertescher commented on #58
Yeah, this is a great idea. Adopting the `lpc8xx-hal` implementation sounds good to me.

[2020-07-04 12:27] no111u3 commented on #54
Add PLL Q configuration for usb #59

[2020-07-07 18:36] no111u3 commented on #58
@mvertescher @hannobraun I think this issue can be close by success resolve.

[2020-07-07 19:13] #58 closed

[2020-07-07 19:27] no111u3 commented on #39
I found that we already support STM32F730 in our hal. This issue might be closing now.

[2020-07-08 01:16] #49 closed

[2020-07-08 08:10] hannobraun commented on #39
Yes, added in #45. Thanks, @no111u3.

[2020-07-08 08:10] #39 closed

[2020-07-08 13:31] no111u3 commented on #54
@mvertescher could You review #59 and #60? - first unblock me for adding other mcu blocks support (usb, sdio, sai and rnd depends on 48 MHz clock source), second provide me more options for test usb stack for stm32f7 mcus.

[2020-07-08 13:40] no111u3 commented on #42
As I can see this issue might be close because it resolved by PR #50.

[2020-07-08 16:37] #42 closed

[2020-07-08 19:19] mvertescher commented on #54
Np @no111u3, I'll move forward with reviewing/merging asap. I've pinged some folks as well to get any final feedback.

[2020-07-11 16:58] pftbest opened #65 "Spi::enable takes Rcc as a parameter making it impossible to enable SPI after the clocks were frozen."
I think there are 2 ways to solve this
1. Remove the Rcc argument and access the register internally using unsafe. `Serial::new` does this.
2. Split the Rcc struct, one part which configures the clock and another part which can turn on/off the peripherals.

[2020-07-20 03:06] mvertescher opened #67 "Review SPI1 pin config"
Follow up issue from #66

The following config for SPI1 is not available on every part in the F7 family:

[code]

This pin config should be disabled for F70x-F73x parts. We should double check this with the datasheets and make a minor change to `spi.rs`.

[2020-08-08 19:48] bbrown1867 opened #68 "Add EXTI Example and Provide RCC Support for SYSCFG Clock"
It would be useful to have an example showing how to use the EXTI traits for a GPIO input pin.

While writing this example, I also noticed that `ExtiPin::make_interrupt_source` will not work unless we configure the SYSCFG bit of `apb2enr` in the RCC. It would be nice if this bit was enabled by default when we call`make_interrupt_source`, however since this is a larger "system level" configuration

[2020-08-16 20:06] sentinelt opened #71 "I2C timing calculation broken"
Looks like the logic which calculates the value of the TIMINGR register is broken.

The code is located here: https://github.com/stm32-rs/stm32f7xx-hal/blob/master/src/i2c.rs#L338
One obvious problem with it, is that after:
`
     let fscll_mhz: f32 = base_clk_mhz / (scll as f32 + 1.0);
`
the prescaler is then calculated with
`
      let presc = base_clk_mhz / fscll_mhz;
`
which could be simplifie

[2020-08-24 16:48] seanybaggins opened #73 "Pac cannot be brought into scope when compiling with the stm32f769 feature"
# Steps to Reproduce
1. Clone the following project
[code]
2. Checkout the commit containing the bug
[code]
3. Follow the instructions within the `readme.md` for opening the environment within a docker container using VSCode.

4. Use Cargo check to get the compiler error
[code]

[2020-08-27 01:32] mvertescher commented on #68
This issue should be resolved now, thanks again @bbrown1867!

[2020-08-27 01:32] #68 closed

[2020-08-31 14:28] no111u3 commented on #54
@mvertescher I rewrite RCC configuration #74: to work version with highly compatible to previous version, so It add configuration for configure USB clock with or without use PLL for system clock. (It fully replace PR #59). Could you review it. Thanks.

[2020-09-02 01:10] mvertescher commented on #54
Thanks for the update, I'll take a look!

[2020-09-05 20:00] pdgilbert opened #76 "serial::Config example needs character_match"
Exampe serial has started giving
[code]
It seems no now need character_match added:
[code]

[2020-09-09 14:16] mvertescher commented on #76
This has been fixed in #75

[2020-09-09 14:16] #76 closed

[2020-09-14 17:02] osphost commented on #73
Yeah I'm also experiencing this problem.
I had to override Cargo and specify the repository directly:

[code]

[2020-09-15 12:14] ctron opened #78 "Support display of STM32F723E-DISCO"
I have the "STM32F723E-DISCO" and would like to make use of the display.

It looks like this is attached via the FMC, using an ST7789H2 controller.

I tried to get started with the display example in the `examples` folder, but it looks that doesn't work with the stm32f723 feature enabled.

[2020-09-15 15:12] ctron opened #79 "UART5 is missing"
To me it looks like UART5 is missing:

[code]

[2020-09-17 13:09] ctron commented on #33
I just found out, it does work with `Tx`:

[code]

Wouldn't that be enough?

[2020-09-17 16:26] rfuest commented on #73
In the 0.2.0 version the PAC is exported as `device`: https://github.com/stm32-rs/stm32f7xx-hal/blob/4f42876fc520f1ed2b86cd2c67bd1696cf448372/src/lib.rs#L59
This was changed to `pac` to mach the other STM32 HAL crates, but the change isn't included in a release yet. So you will need to change your code to use `device` instead of `pac` or use the git version.

[2020-09-24 22:43] bbrown1867 commented on #78
The display example is written for the STM32F746G Discovery Board, and it is attached via the LTDC peripheral (not FMC). So even if you were able to get it to compile by modifying the feature, it would not work for the FMC display on your board unfortunate.

The directory `examples/stm32f7disco-screen` should probably be renamed to something like `examples/stm32f7disco-ltdc-screen` or something to

[2020-09-24 23:39] bbrown1867 opened #81 "Wrong RAM Size for STM32F7{45,46, 56} models?"
The file `memory_1024_240.x` appears to declare the RAM section as 256KB for these models. However, I think the correct amount is 320KB.

From the table on [this page](https://www.st.com/en/microcontrollers-microprocessors/stm32f7-series.html):
<img width="841" alt="table" src="https://user-images.githubusercontent.com/5721984/94210665-61a8e280-fe9d-11ea-9bd7-d3b8a271a8fb.png">

Also from the data

[2020-09-25 13:53] ctron commented on #78
Yes, that would make it more obvious :grinning: … I dug a little bit into it, and it looks like a lot of stuff is missing. But I will give it a try.

[2020-09-25 16:54] rfuest opened #82 "PLL isn't enabled automatically"
Is the RCC HAL implementation supposed to enable the PLL automatically? I didn't have time to investigate myself, but I think it is: https://github.com/stm32-rs/stm32f7xx-hal/blob/caf2196fcfb10a2947b255f0437a4e9afe99000e/src/rcc.rs#L623

But if I try to configure the RCC using the following code the assertions fails and sysclk is 8 MHz:
[code]

If I add a `.use_pll()` the configuration works as ex

[2020-09-25 17:56] pftbest commented on #82
This looks like a bug, the CFGR struct should not have #[derive(Copy)]

`use_pll` takes self by value making a new copy and returns it. The original CFGR is not changed.

[2020-09-26 08:00] no111u3 commented on #82
The original CFGR doesn't change because its never needs to change. I fix configuration for PLL in #83. @rfuest thanks for report of issue.

[2020-09-28 14:02] rfuest commented on #82
Closed by #83.

[2020-09-28 14:02] #82 closed

[2020-10-06 18:45] #79 closed

[2020-10-07 12:48] 7h3qu1rkyb1t opened #85 "SPI hardware nss management and modes settings"
I didn't find any ways to configure spi as slave or using hardware nss pins. Is it implimented?

[2020-10-07 14:01] hannobraun commented on #85
No, as of now both are not supported.

[2020-10-07 14:32] 7h3qu1rkyb1t commented on #85
ok

[2020-10-09 10:35] rHermes opened #86 "usb_fs not enabled for NUCLEO-F767ZI with STM32F767ZI"
Hey!

I am very new to embedded programming, so please excuse me if this question is not relevant.

I have a NUCLEO-F767ZI, which has a STM32F767ZI chip.

This chips seems to me to support both `usb_fs` and `usb_hs`, but it's not enabled on the lines:

https://github.com/stm32-rs/stm32f7xx-hal/blob/master/src/lib.rs#L83-L93

Is this a mistake, or is something more needed to enable this functionali

[2020-10-12 17:54] ostenning opened #87 "Support for I2S protocol"
I'm trying to determine if the SPI implementation can support I2S? If not, any plans in the future to add this?

Thanks!

[2020-10-13 10:11] hannobraun commented on #87
I know next to nothing about I2S, but to the best of my knowledge, it is not supported. I'm also not aware of any plans to implement it, but of course any contributions doing so would be very welcome.

[2020-10-13 11:00] ostenning commented on #87
Thanks for the response @hannobraun. When I find the time, I could begin to look into it.
For further reference, the `stm32f429-hal` [implements it](https://docs.rs/crate/stm32f429-hal/0.0.0/source/src/i2s.rs).

Kind regards,
Oliver

[2020-10-22 01:10] mvertescher opened #89 "Migrate from Travis CI to Github Actions"
Currently, we use Travis CI for building, testing and formatting this crate. However, Travis CI is not as featured as the new Github Actions offering. Additionally, some of the other stm32-hal crates have already migrated. To keep this crate consistent and improve CI overall we should switch over.

[2020-10-22 11:12] #81 closed

[2020-10-23 10:51] #89 closed

[2020-11-09 15:23] matoushybl commented on #86
I second this, I manually added the feature gate for this processor and the USB seems to be working.

It seems to be not there just because the it wasn't tested. I'll make a PR if any maintainer clarifies that there is not another problem why this processor wasn't included.

[2020-11-09 15:30] matoushybl opened #99 "Linker scripts are wrong as they place SRAM into DTCM regions."
The linker scripts mark start of the RAM to 0x2000000 which is where DTCM is placed, for example for the STM32F767, the SRAM1 starts at 0x2002000 and then there is the small SRAM2 further in the memory. This way the data is placed in the wrong memory region and also a significant portion of SRAM is unused.

So if the DTCM can be used as a regular RAM, the sizes should be expanded accordingly, or t

[2020-11-09 19:49] ostenning commented on #87
I've begun implementing I2S support, but I need some assistance regarding the way the HAL currently implements the `rcc::CFGR`.

I'm porting the I2S initialization [C++ function `HAL_StatusTypeDef HAL_I2S_Init(I2S_HandleTypeDef *hi2s)`.](https://devel.rtems.org/browser/rtems/c/src/lib/libbsp/arm/stm32f7x/hal/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_i2s.c?rev=c20847a5ad36cab3b4e63bc3021c606820aed87d#

[2020-11-10 12:35] hannobraun commented on #87
You can always conjure up an instance of `pac::RCC` via `pac::RCC::ptr()`. Or you could just add the required information to `Clocks`. I don't have a strong opinion here.

[2020-11-10 13:27] hannobraun commented on #86
I'm not aware of any problems, but I haven't been involved in that work and might be missing something. If you tested it successfully, I see no reason not to change it.

[2020-11-10 13:28] ostenning commented on #87
Thanks for _pointing_ me in the right direction :+1:

[2020-11-11 10:24] #86 closed

[2020-11-19 15:19] 7h3qu1rkyb1t opened #102 "Implementation for RNG"
stm32f4xx-hal has an implementation for RNG, Is this ok to Copy that or it will create any problems?

[2020-11-20 11:44] Disasm commented on #86
@matoushybl

Exactly this, it wasn't tested. I tested only with F723 and added all the other chips covered by the same Reference Manual as F723.

[2020-11-24 11:46] #71 closed

[2020-11-25 12:43] #102 closed

[2020-12-01 01:53] 7h3qu1rkyb1t commented on #22
Is it still an issue? Else we can close it right? To keep it clean

[2020-12-01 14:05] mvertescher commented on #22
Yes, this is resolved.

[2020-12-01 14:05] #22 closed

[2020-12-16 22:47] mchodzikiewicz opened #105 "LCD example shown black screen (with backlight on)"
I cloned repo and launched example with:
[code]

I have my discovery board plugged into USB, flashed succesfuly, when I halt the MCU in the gdb it shows it is in an infinite loop at the end of the example, but I cannot see any pixel drawn, just dark blank screen.

PS. I have tried it on two STM32F746G-DISCO boards and they both are fine with ST demos

[2020-12-17 13:48] bbrown1867 commented on #99
I imagine the linker scripts were written this way for simplicity - viewing SRAM as one contiguous blob. Perhaps enumerating the different SRAM bank types could allow for more advanced placement of data, but I can't think of an example...when would the DTCM region _not_ be used as regular RAM?

[2020-12-17 18:58] matoushybl commented on #99
I am not really sure as I am not that experienced developer. However, some quick search showed problems with DMA and ethernet peripherals. E.g. here https://community.st.com/s/article/FAQ-Ethernet-not-working-on-STM32H7x3 .

[2020-12-17 20:28] bbrown1867 commented on #99
Interesting, thanks for providing some context! This does seem like a more advanced use case.

My concern is that if the linker scripts were changed to enumerate the different banks and place different regions into these banks, a user may run out of RAM quickly and not understand that other regions are available. Maybe there is a way to avoid that though with the linker file or `build.rs`.

[2020-12-18 13:44] #105 closed

[2020-12-18 15:17] hardfau18 commented on #65
this one is resolved i guess, may be its ok to close

[2020-12-18 15:34] #65 closed

[2020-12-26 09:51] santiagoalvarez opened #109 "Support for CAN"
I created a PR #108 in order to start a discussion around adding some CAN support for the crate.

The current PR is mostly copied from https://github.com/stm32-rs/stm32f1xx-hal/pull/293 with a few modifications to simplify it's initial adoption.

[2021-02-23 17:35] santiagoalvarez commented on #109
Since we are in the last few steps of merging the PR I will close this ticket

[2021-02-23 17:35] #109 closed

[2021-04-01 15:01] hannobraun commented on #9
It's not the one linked, but DAC support has been added in #113.

[2021-04-01 15:01] #9 closed

[2021-04-01 19:35] pdgilbert opened #114 "bxcan/defmt version conflict"
In code that uses multiple device crates I have started having `cargo update` problems because of the change in the dependency  `bxcan = "0.5"` (see https://github.com/stm32-rs/bxcan/issues/22#issue-848677821). Can the dependency be more flexible, say `bxcan = ">=0.4"` ?

[2021-04-02 08:51] hannobraun commented on #114
I'm not familiar with `bxcan`, or the details of how we use it (I reviewed the PR adding it, but have since forgotten all about it). Does this HAL actually work with multiple versions of `bxcan`? Can we be sure that, even if it works for us, this can't cause breakage for our users?

If the answer to both questions is "yes", then I'm happy to merge a PR that relaxes the version requirement. Althoug

[2021-04-02 18:37] pdgilbert commented on #114
(Anyone please correct me if I say something is wrong. This is the first time I've run into this.)

The problem seems to be that `defmt` uses a `link`, so it is not possible for `bxcan` to specify a range of versions for `defmt`. A specific version of `bxcan` is tied to a specific version of `defmt`. (See https://github.com/knurling-rs/defmt/issues/426#issue-823703071 ) Thus `stm32f7xx-hal` specif

[2021-04-04 14:43] pdgilbert opened #116 "adc?"
Where is `adc`?  It is in `device::` in release 0.2.0.  On git `device::` has disappeared but adc does not seem to be in any of the usual places.

[2021-04-06 10:47] hannobraun commented on #116
Was `device` a re-export of the PAC (the `stm32f7` crate)? If so, this is now available as `pac`. The HAL itself doesn't seem to have ADC support.

[2021-04-06 11:12] hannobraun commented on #114
Thanks for the info, and sorry for the late reply. I'll reply on your pull request (#115).

[2021-04-06 11:36] hannobraun commented on #114
Fixed in #115.

[2021-04-06 11:36] #114 closed

[2021-04-06 21:40] pdgilbert commented on #116
It seems the `stm32f7` crate has modules `stm32f7::stm32f7x3` and `stm32f7::stm32f7x9` and the first has `adc_common` and `adc2` while the second has `adc_common` and `adc1`.  It looks like` stm32f7xx_hal` has `pac::adc2` but not `pac::adc1`. I don't really know enough about this to say if that makes any sense, but perhaps there is a re-export omission?. (Also, I don't know much about `device::` o

[2021-04-07 11:49] hannobraun commented on #116
The `stm32f7` crate supports the whole STM32F7 series, which consists of several product lines, like STM32F7x3, STM32F7x9, and so forth. Those modules in `stm32f7` correspond to those product lines, and things (like `adc1`) might be missing from those modules because they are not available on the hardware, or because the SVD file (a vendor-provided file that describes the hardware peripherals) has

[2021-04-07 17:09] andybest commented on #87
@ostenning Did you get anywhere with the I2S implementation? I am thinking of possibly implementing it myself if not :)

[2021-04-08 17:22] ostenning commented on #87
@andybest Sorry, no I ended up going in a different direction with my project. But take a look at the `stm32h7xx-hal`, its already implemented there.

[2021-04-08 21:04] andybest commented on #87
@ostenning No worries! Thanks, I'll see if I can port over the implementation from there :)

[2021-04-26 11:42] dutchmartin opened #117 "A new version on crates.io"
Dear maintainers,

Thank you for creating this awesome crate, it really is a pleasure to work with.
But there is one thing that would working with this crate even more pleasant, and that is releasing a new version on crates.io
Currently some features like the [random](https://github.com/stm32-rs/stm32f7xx-hal/pull/103) implementation are not released yet due to this, and that is unfortunate, since

[2021-04-26 11:50] hannobraun commented on #117
Hey @dutchmartin, thanks for opening this issue. Looks like I don't have the power to make new releases. @mvertescher, can you take care of this?

[2021-04-26 12:00] adamgreig commented on #117
By the way, a few of the other HALs have added their stm32-rs org team to the crates.io owners, so that anyone on the team can publish to crates.io -- there's also an stm32f7 team (with just @hannobraun and @mvertescher), so potentially that could be added to make this easier in the future: `cargo owner --add github:stm32-rs:stm32f7`.

[2021-04-26 13:45] mvertescher commented on #117
Awesome, that sounds great @adamgreig. I've updated the owners with the `github:stm32-rs:stm32f7` team so @hannobraun can deploy in the future.

Yeah, it's been a while since the last release. I've just pushed `v0.3.0` to crates.io.

Feel free to open any additional issues for bugs you may find @dutchmartin, that'd be very helpful :)

[2021-04-26 13:46] #117 closed

[2021-04-26 14:55] dutchmartin commented on #117
Thank you for your very quick response!

[2021-04-30 19:41] pdgilbert commented on #116
(Sorry, I wrote this weeks ago, but forgot to click and it got lost on a browser tab.)

Thank you for the extended explanation!  As you may have guessed, I do not have actual `stm32f7` hardware and I am just trying to compile some examples. So I can easily use `adc2` or another device.  I probably need to understand `stm32f7` better before I get into whether the SVD is missing something. It seems

[2021-05-04 12:02] hannobraun opened #119 "Consider setting up dependabot"
The suggestion was brought up by @dutchmartin in #118. I haven't worked with it yet, but I agree that it would probably be useful.

[2021-05-24 15:30] jonathanpallant opened #121 "Timer period is off by one"
If you create a timer at, say, 250.khz() you will get a timer at very slightly less than that.

When you set the auto-reload register `arr`, you need to specify the last valid counter before it wraps to zero - i.e. one less that the period in clock cycles.

[2021-05-24 15:34] jonathanpallant opened #122 "Timer Interrupt clear is incorrect"
This code in `timer.rs`:

[code]

should be

[code]

The write call will disable all the interrupts, not just that specified one.

[2021-06-15 12:29] rubik83 opened #123 "Error in memory.x ?"
On line 6 of memory_2048_368.x there is
"RAM : ORIGIN = 0x20000000, LENGTH = 368K + 16K"
according to datasheet it would be
"RAM : ORIGIN = 0x20000000, LENGTH = 128K + 368K + 16K"
or
"RAM : ORIGIN = 0x20020000, LENGTH = 368K + 16K"

[2021-07-16 18:11] rfuest opened #136 "Clocks can no longer be specified in MHz"
Before the migration to `embedded-time` it was possible to write `HSEClock::new(216.mhz(), HSEClockMode::Oscillator)`. This isn't possible anymore, because `Into<Hertz>` isn't implemented for `embedded-time`s `Megahertz`.

The way the conversion is implemented in `embedded-time` makes more sense, because it prevents possible integer overflows. But the use of `Into<Hertz>` in e.g. `HSEClock::new` s

[2021-07-17 09:59] hannobraun commented on #136
I agree with your conclusion that taking a `Hertz` value directly would be better and less confusing. The conversion to `embedded-time` was a rather minimally invasive procedure, and I didn't think a lot about how it affected usability.

I'd definitely merge a PR making the change from `Into<Hertz>` to `Hertz`!

[2021-07-17 18:02] rfuest opened #138 "LTDC HAL modifies RCC clock settings directly"
While I prepared PR #137 I noticed that `DisplayContoller::new` directly changes the RCC clock configuration. Any changes to the clock configuration at this point won't be reflected in the `Clocks` struct that is returned when `CFGR::freeze` is called.

While the changes are limited to PLLSAI, which isn't used by other peripherals at the moment, it would be better to handle all clock setup in `rcc

[2021-07-17 18:15] rfuest opened #139 "RngExt::init modifies RCC clock configuration"
`RngExt::init` enables the main PLL, if it isn't already enabled. There are no checks that the PLL multiplication/division factors are correct or that a valid clock is supplied to the PLL.

To improve this I would suggest to remove the PLL related code from `init` and change it to take a `&Clocks` argument. `Clocks` contains a `pll48clk_valid` field, which could be used to check that a valid clock

[2021-07-17 21:44] lordspacehog opened #140 "Timer interrupts don't trigger on stock Nucleo-F767ZI board."
There seems to be some issue with the examples/timer implementations.

attempting to run the timer example on a stock nucleo-f767zi board prints the message in main but TIM2 never fires.

[2021-07-19 11:30] hannobraun commented on #138
Good catch! I agree that it would be better to handle this in RCC.

[2021-07-19 11:31] hannobraun commented on #139
Good catch! Your suggestions sounds reasonable.

[2021-07-19 11:45] hannobraun commented on #140
Hey @lordspacehog, thank you for opening this issue! I tested the example on th F746 Nucleo (the only F7 hardware I have available), and can't reproduce your problem. I can see the log message from the interrupt.

If you can figure out what's going wrong with your hardware, I'd appreciate a pull request with a fix!

[2021-08-15 08:04] burrbull opened #141 "Serial speed"
https://github.com/stm32-rs/stm32f7xx-hal/blob/1e478dca1172d96cdc1fe5eab08ce3e3f4b94331/src/serial.rs#L432

BitsPerSecond

[2021-09-22 13:33] hellow554 commented on #136
While #137 was merged and resolves the issue with `rcc.rs`, other places are left:

[code]

Would be nice if they could be resolved as well.

This is more informative thatn a request ;) So don't feel pushed.
When I have time in a few weeks, I'll try to resolve these, but feel free to do it in the meantime.

[2021-09-23 09:07] hannobraun commented on #136
@hellow554

I don't have the time to spare right now, but I'd be happy to review/merge any pull requests that address is, so feel free to look into it!

[2021-09-28 18:40] pdgilbert commented on #116
I've looked at this more now but will not claim that I really understand it. The `stm32f7x2.svd` file has support for `adc` so I do not think that is the problem. To a novice like me it looks more likely the problem is that in https://github.com/stm32-rs/stm32f7xx-hal/blob/0a0d06d5f63c3a1471362370fdfb8c367207d308/src/lib.rs#L154-L155 the `adc` support is only activated for very few devices while i

[2021-09-29 09:33] hannobraun commented on #116
Which version of the SVD file are you looking at? The PAC (that this HAL is based on) seems to be based on the [files in this directory](https://github.com/stm32-rs/stm32-rs/tree/master/svd/vendor). As of this writing, the F7 files were updated 2 years ago, so is it possible you were looking at a newer version?

The file is also patched and transformed during the PAC building process, so a problem

[2021-09-29 22:06] pdgilbert commented on #116
The `stm32f7x2.svd` I was looking at was from https://github.com/tinygo-org/stm32-svd. It does look to be newer and using a simple `grep ADC | wc` it looks like there has been some work done on adc.  Just to be clear, this is the first SVD file I have ever looked at, and I am a novice to embedded and still new to rust. So it is perfectly fair to assume I don't know what I'm talking about.

I reali

[2021-09-30 09:46] hannobraun commented on #116
SVD files are often incomplete and full of errors, so it's very plausible that someone patched it, or that ST released a new version, and that those changes haven't made their way into stm32-rs. Once someone does the work of improving the situation in stm32-rs, the improvements will trickle down to this HAL.

Yeah, totally. I wasn't objecting, just providing context in case it wasn't totally clear

[2021-09-30 09:52] adamgreig commented on #116
In this specific case, the SVDs from tinygo-org/stm32-svd are actually exactly the SVDs from stm32-rs (or older, since there's been a handful of recent stm32f7 updates). So there shouldn't be anything in that SVD that's not in the PAC. For reference, you can always download the latest built SVDs from stm32-rs [here](https://stm32-rs.github.io/stm32-rs/) too.

Currently stm32f7xx-hal uses stm32f7 v

[2021-09-30 10:26] hannobraun commented on #116
Thanks for the note, Adam!

Oh man, we've really gotten behind. I somehow implicitly assumed we were on the latest version. stm32l0xx-hal has been updated recently, so that probably confused my into thinking we were up-to-date here too :smile:

[2021-09-30 20:02] pdgilbert commented on #116
Ok, I look forward to testing again when things are up-to-date. Thanks.

[2021-10-19 12:54] matoushybl opened #144 "Possible typo in maximal frequency."
There are two different frequencies mentioned in the comments and in the code.

https://github.com/stm32-rs/stm32f7xx-hal/blob/0a0d06d5f63c3a1471362370fdfb8c367207d308/src/rcc.rs#L472

[2021-10-25 14:42] hannobraun opened #148 "Test documentation examples in CI"
Compile errors in documentation examples should be caught by the CI build.

Here's an example of something that slipped through: https://github.com/stm32-rs/stm32f7xx-hal/pull/145#issuecomment-950968381

[2021-10-27 08:10] systec-ms opened #150 "Release 0.6.0"
I would like to kindly ask to publish a new version.

Mainly because of the following two pull requests, which were merged.
https://github.com/stm32-rs/stm32f7xx-hal/pull/145
https://github.com/stm32-rs/stm32f7xx-hal/pull/149

By the way, thanks @hannobraun.

[2021-11-02 11:07] #150 closed

[2021-11-03 10:22] hannobraun opened #154 "Decide on consistent strategy for enabling peripherals"
@burrbull wrote this in https://github.com/stm32-rs/stm32f7xx-hal/pull/152#issuecomment-956156269:

My reply in https://github.com/stm32-rs/stm32f7xx-hal/pull/152#issuecomment-957276958:

[2021-11-05 12:55] #123 closed

[2021-12-10 07:57] systec-ms commented on #99
This was fixed in https://github.com/stm32-rs/stm32f7xx-hal/pull/156, so the issue could probably be closed.

[2021-12-10 09:02] systec-ms opened #163 "Timer example is incorrect"
If the interrupt is not cleared, it will immediately retriggered after the ISR has finished.
[code]

[2021-12-10 11:45] hannobraun commented on #163
Good catch, thank you!

[2021-12-10 11:46] hannobraun commented on #99
Thanks, @systec-ms.

[2021-12-10 11:46] #99 closed

[2021-12-10 11:55] systec-ms commented on #163
@hannobraun could you add `good first issue` as a label, I can't. Thanks.

[2021-12-10 11:59] hannobraun commented on #163
Good call!

[2022-01-12 15:34] hannobraun opened #165 "Looking for new maintainer"
Hey folks!

I intend to step down as the maintainer of this repository shortly. [I'm off to new adventures](https://github.com/sponsors/hannobraun) and would like to be able to focus on this new direction going forward.

Unfortunately, I'm the only active maintainer here, so it's critical that we find someone to replace me. If anyone reading this is interested in becoming a maintainer, please post

[2022-01-12 20:58] adamgreig commented on #165
Thanks for all your hard work here and good luck with Fornjot!

[2022-01-14 03:45] darryln commented on #165
Hello, I am wondering if this might be a good way for me to "jump in the deep end" with embedded rust.  I'm new to rust, but well experienced with embedded ([see website](http://bitheadtech.com)). I started learning rust a couple of months ago, initially covering the basics on the desktop, and then to embedded.  I have been working with the stm32f7xx-hal on a Nucleo-F767ZI.

Can you describe the H

[2022-01-14 09:25] hannobraun commented on #165
Hey @darryln, thank you for your interest!

Well, there is no formal definition. I'd say, the maintainers most important job is to keep the project running, so it can keep being of use to people. Sometimes people run into limitations and submit a pull request to fix those limitations. In the absence of any factors that make that a bad idea, I think a maintainer's responsibility is to get that pull

[2022-01-14 17:28] darryln commented on #165
@hannobraun
@systec-ms

It's a very nice essay, and I appreciate the detail.

I'm looking into everything you mentioned, and it will be some days before I'm up to speed, but at this point, I'm intrigued.  I ain't scared, but could be suffering from Dunning-Kruger haha. :-)

Meanwhile, questions...

- At the bottom of the CI actions I see "test", what does that do, exactly?
- What proportion of iss

[2022-01-15 09:05] hannobraun commented on #165
Looking at [the list of merged pull requests](https://github.com/stm32-rs/stm32f7xx-hal/pulls?q=is%3Apr+is%3Aclosed), the majority of changes are local. Upstream changes generally don't cause issues in this project, unless an upstream project (accidentally) ignores [semantic versioning](https://semver.org/) (or rather, the version of it implemented by Cargo). I can't remember when/if that last hap

[2022-01-15 12:06] oyren commented on #165
@hannobraun thanks and also good success with Fornjot.
Sorry for my late reply (@systec-ms private account here), I've been thinking about whether or not to sign up as a new maintainer, but haven't come to a conclusion yet.

I'm interested, but not sure if I'm ready for it.
The next half year I will write my thesis, so my time will probably be limited. I made my previous contributions here during

[2022-01-15 13:05] burrbull commented on #165
Just for remind:
Main matrix group: https://matrix.to/#/#rust-embedded:matrix.org  Meetings each Tuesday 19 UTC
stm32 matrix group: https://matrix.to/#/#stm32-rs:matrix.org

[2022-01-15 16:11] hannobraun commented on #165
Thank you!

The decision is ultimately yours, of course. I would just recommend not to be intimidated by the role. As I explained above, I've been leaning heavily on contributors for a while now, and my successors doing the same would be a lot better than leaving the repository unmaintained.

Of course, the ideal maintainer would know the hardware inside out, develop a strong vision for the projec

[2022-01-15 22:22] darryln commented on #165
'gap analysis' = tasks/effort required to meet the embedded-hal 1.0.0 spec.

I agree with your comment about creating a branch for embedded-hal 1.0.0-alpha.

Same. I almost got it working today. probe-run worked perfectly, whereas the vsix was able to flash but doesn't seem to handle bp and stepping reliably.  I asked for help on #probe-rs:matrix.org.

[2022-01-16 15:47] darryln commented on #163
@systec-ms  is there a repro case, or was this found by inspection?

[2022-01-17 07:55] systec-ms commented on #163
Inspection.

[2022-01-29 12:13] maximeborges commented on #165
Hi,
I haven't had a lot of experience with Rust at the moment, and still struggling with some complex traits/macro stuff that we can find in those HALs, but definitely willing to learn more in the future.
Maybe having a few new maintainairs coming along at the same time could be nice, so they could discuss about the best solutions together will they get more confortable at the maintainer's job.
I

[2022-02-08 11:06] adamgreig commented on #165
Thanks @hannobraun!

I'm around to help with any permissions issues so please don't feel you have to sort anything out on that front.

Perhaps @maximeborges @darryln and @oyren would be interested in helping maintain it together? Let me know and I can sort out team access.

[2022-02-08 12:14] maximeborges commented on #165
Would works for me!

[2022-02-08 14:43] eldruin commented on #165
I do not have special knowledge of this hardware but if you are interested, I can join as maintainer here at least to do some reviews and keep the ball rolling.
I would rather serve as bridge to `embedded-hal`/ewg and bring more of a high-level software engineering perspective.

[2022-02-16 15:40] systec-ms commented on #31
I've been working on getting SD/SDIO/MMC card host interface (SDMMC) to work, didn't get done with it though until priorities shifted, maybe someone would like to build on my previous work (which is predominantly on customizations of the stm32h7 hal implementation).
The reading worked partially.
https://github.com/systec-ms/stm32f7xx-hal/tree/sdmmc

[2022-02-20 17:36] burrbull opened #173 "Bits per second"
https://github.com/stm32-rs/stm32f7xx-hal/blob/2fb147bf94b9f1d17c7e45ed4cfefab8c8a64a41/src/serial.rs#L435

[2022-02-20 20:47] eldruin commented on #163
Fixed in #169. Closing.

[2022-02-20 20:47] #163 closed

[2022-02-20 21:26] eldruin commented on #35
I assume this was fixed in #36. Feel free to reopen otherwise.

[2022-02-20 21:26] #35 closed

[2022-03-02 17:51] #56 closed

[2022-03-02 17:51] #141 closed

[2022-03-02 17:51] #173 closed

[2022-03-02 18:48] hannobraun commented on #165
I've made the new team members maintainers in @stm32-rs/stm32f7 (I was the only maintainer in that team previously) and have left the team. I've also unwatched this repository, but feel free to ping me, if you need me for anything!

Thanks everyone, and good luck with the project!

[2022-06-05 06:36] korken89 opened #185 "Time for the next release?"
Hi all,

I was just checking in to see if there is a release planned soon?
I see there are a lot of good additions that would be awesome to have on crates.io!

[2022-06-05 20:21] maximeborges commented on #185
And deployed on https://crates.io/crates/stm32f7xx-hal/0.7.0

[2022-06-05 20:21] #185 closed

[2022-06-20 10:12] UdayakumarHidakal opened #191 "Flash rewriting didn't working properly in "STM32F746" board."
Hi all,
I am working in ```stm32f746``` board and i used to compile your ```flash``` example code by ```cargo build --example flash --features="rt stm32f746" ``` command, and i flashed in to controller by using ```probe-run``` ```probe-run flash --chip stm32f746zgtx```

After flashing code it's not writing to the particular sector, also i am not able to read flash from the ```stm32 cube programmer

[2022-11-26 11:26] chessnokov opened #193 "Release build does not flashing led"
Very strange things occur on release build:
when `sysclk` is greater that `pclk1`, for example:
[code]
led does not flashing, but debug release is fine.

I tested this combination:
[code]
It's work fine, at both debug and release builds.

But, What occurs when i follow CubeMX suggestion(frequency), I don't understand.

I little modify example from this crate - `PA5` for NUCLEO- F767ZI by default n